---
layout: framework
---

<h2>Publications</h2>

<ul>
{% for publ in site.data.publications %}
    <li style="margin-bottom: 8px;">
        <h4 style="margin-bottom: -1px;">
            {% if publ.url != null and publ.url != "" %}
            <a href="{{ publ.url }}" target="_blank" style="color:darkslateblue;">{{ publ.title }}</a>
            {% else %}
            {{ publ.title }}
            {% endif %}
        </h4>
        <ul>
            <li>Authors: {{ publ.authors }}</li>
            <li>In: {{ publ.booktitle }}</li>
            <li>Year: {{ publ.year }}</li>

            {% if publ.doi != null and publ.doi != "" %}
            <li>DOI: <a href="https://doi.org/{{ publ.doi}}" target="_blank">{{ publ.doi }}</a></li>
            {% endif %}
        </ul>
    </li>
{% endfor %}
</ul>